<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">


  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand" [routerLink]="''">
        <div class="brand-logo"></div>
        <h2 class="brand-text mb-0">Gewinner</h2>
      </a></li>
      <!--      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i></a></li>-->
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" navigation-header"><span>Apps</span></li>
      <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"><a [routerLink]="''"><i
        class="feather icon-activity"></i><span class="menu-item" data-i18n="Analytics">Analytics</span></a></li>
      <li class=" nav-item"><a href="#"><i class="feather icon-globe"></i><span class="menu-title">News</span></a>
        <ul class="menu-content">
          <li [routerLinkActive]="'active'"><a [routerLink]="'news/articles'"><i class="feather icon-circle"></i><span
            class="menu-item">Articles</span></a></li>
        </ul>
      </li>

      <li class=" nav-item"><a href="#"><i class="feather icon-users"></i><span class="menu-title">Users</span></a>
        <ul class="menu-content">
          <li [routerLinkActive]="'active'"><a [routerLink]="'users/users'"><i class="feather icon-circle"></i><span
            class="menu-item">Users</span></a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="'users/agencies'"><i
            class="feather icon-circle"></i><span class="menu-item">Agencies</span></a></li>
        </ul>
      </li>


      <li class=" nav-item"><a href="#"><i class="feather icon-box"></i><span class="menu-title">Offers</span></a>
        <ul class="menu-content">
          <li [routerLinkActive]="'active'"><a [routerLink]="'Offers/products'"><i class="feather icon-circle"></i><span
            class="menu-item">All the offers</span></a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="'accessories/orders'"><i
            class="feather icon-circle"></i><span class="menu-item">Request of prediction</span></a></li>
        </ul>
      </li>


      <li class=" nav-item" [routerLinkActive]="'active'"><a [routerLink]="'team'"><i
        class="feather icon-user-check"></i><span class="menu-title">Team members</span></a></li>
      <li class=" nav-item" [routerLinkActive]="'active'"><a [routerLink]="'partners'">
        <i class="far fa-handshake"></i><span class="menu-title">Partners</span></a></li>
      <li class=" nav-item" [routerLinkActive]="'active'"><a [routerLink]="'join-us'"><i
        class="feather icon-clipboard"></i><span class="menu-title">Job | Internship</span></a></li>


    </ul>
  </div>
</div>
<!-- END: Main Menu-->





